.banner-principal{
    background: rgba(0, 0, 0, 0.44);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url('../../resource/banners/Banner Global.png');
    /*background-image: url('../resource/imagenes prueba web/img_home/nuevas/Seccion Blog/Blog2.png');*/
    background-size: cover;
    background-repeat: no-repeat;
}

.page-content{
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-red{
    border-radius: 0;
    text-decoration: none;
    font-size: 13px;
}

.button-red:hover{
    background-color: #fff;
    color: #ea1c23;
    border: 1px solid #ea1c23;
    border-radius: 0;
    
}
.container-training-latam{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-training-latam{
    height: 100px;
}

.link-mail{
    display: flex;
    justify-content: space-evenly;
}

.container-title-latam{
    display: flex;
    align-items: left;
    flex-direction: column;
    color:#ea1c23;
}
.container-title-latam{
    justify-content:left;
}

.title-section{
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    color:#ea1c23;
}

.text-content p{
    font-size: 14px;
}

.hr-separator{
    border: 2px solid #ea1c23;
}


.img-right{
    width: 570px;
    height: 1140px;
    border-radius: 200px 0 0 200px;
    margin-bottom: 150px;
}

.text-content{
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 0 0 200px 0;
}