.banner-principal{
    background: rgba(0, 0, 0, 0.44);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../resource/imagenes prueba web/img_home/nuevas/Seccion Blog/Blog.png');
    /*background-image: url('../resource/imagenes prueba web/img_home/nuevas/Seccion Blog/Blog2.png');*/
    background-size: cover;
    background-repeat: no-repeat;
}

.pagina{
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #EFEFEF;
}
.filtro{
    width: 25%;
}
.buscador{
    display: flex;
    justify-content: space-between;
}
.buscador input{
    width: 80%;
    border-radius: 15px;
    border: 1px solid grey;
    font-size: 14px;
    padding: 3px 8px;
}
.opcion-filtro{
    background-color: #fff;
    margin: 15px 0;
    border-radius: 10px;
    padding: 15px 30px;
}
.title-close{
    display: flex;
    justify-content: space-between;
}
.title-filtros{
    width: 70%;
    font-size: 14px;
    cursor: pointer;
}

.drop-filter{
    color: #EA1C24;
    width: 5%;
    margin: 0;
    display: none;
}

.drop-filter:hover{
    color: grey;
    cursor: pointer;
}

.enlaces{
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
.enlaces p{
    text-decoration: none;
    font-size: 12px;
    color: #000;
    cursor: pointer;
    margin: 8px 0;
}
.enlaces p:hover, .title-filtros:hover{
    color: #EA1C24;
    cursor: pointer;
}




.entradas{
    width: 60%;
}

.entrada{
    width: 100%;
    height: 260px;
    background-color: #fff;
    border: 1px solid #EA1C24;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.img-entrada{
    height: 100%;
    width: 80%;
    border-right: 1px solid #EA1C24;
}

.img-entrada img{
    height: 100%;
    width: 100%;
}


.body-entrada{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}
.body-entrada img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.body-entrada ul{
    height: 80%;
    padding-left: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}


.body-entrada li{
    list-style: none;
}