body{
    background-color: #EFEFEF;
}

.banner-principal{
    justify-content: center;
}

.banner-principal h1{
    font-size: 30px;
}
.contenido{
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.contenido-entrada{
    width: 78%;
    background-color: #fff;
    padding: 30px;
}

.contenido-entrada h3{
    font-size: 20px;
    text-align: center;
}

.contenido-entrada p{
    text-align: justify;
}

.contenido-entrada img{
    margin: 30px;
    width: 90%;
    height: 300px;
}


.publis{
    width: 20%;
}

.publi{
    border-radius: 20px;
    background-color: #fff;
    padding: 25px;
    margin-bottom: 30px;
}

.publi h5{
    font-size: 14px;
    text-align: center;
}


.entrie{
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
}

.last-entries{
    padding: 0 10px;
}

.efect-button:hover{
    border-bottom: 1px solid #EA1C24;
}