body{
    background-color: #EFEFEF;
}

.banner-principal{
    justify-content: center;
}

.banner-principal h1{
    font-size: 30px;
}
.contenido{
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.contenido-entrada{
    width: 73%;
    background-color: #fff;
    padding: 30px;
}

.contenido-entrada h3{
    font-size: 20px;
    text-align: center;
}

.contenido-entrada p{
    text-align: justify;
}

.contenido-entrada img{
    margin: 30px;
    width: 90%;
    height: 300px;
}


.publi{
    width: 25%;
    height: 500px;
    border-radius: 20px;
    background-color: #fff;
    padding: 25px;
}

.publi h5{
    font-size: 15px;
    text-align: center;
}

.last-entries{
    padding: 20px;
}

.entrie{
    padding: 20px 40px;
    cursor: pointer;
    font-size: 13px;
}


/*
.entrie:hover{
    color: #EA1C24;

}

.entrie span{
    position: absolute;
    background: #EA1C24;    
    transition: .5s;
}

.entrie span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}
.entrie span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

.entrie span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}
.entrie span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

.entrie:hover span:nth-child(1){
    left: 0;
}

.entrie:hover span:nth-child(2){
    right: 0;
}

.entrie:hover span:nth-child(3){
    bottom: 0;
}

.entrie:hover span:nth-child(4){
    top: 0;
}

*/