.banner-principal{
    background: rgba(0, 0, 0, 0.44);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../resource/backgroundEjemplo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

*{
    font-family: "Biome Std";
}

.section-tecnologias{
    padding: 40px;
}
.title-section{
    font-size: 20px;
    margin-bottom: 30px;
}

.cont-tecnologias{
    display: flex;
    flex-direction: column;
}

.fila-tecnologias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin-bottom: 30px;
}

.tecnologia{
    width: 15%;
    height: 200px;
}

.tecnologia a{
    text-decoration: none;
}

.img-tecnologia{

    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 25px;
}

.img-tecnologia img{
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.cont-nombre-tecnologia{
    text-align: center;
}

.nombre-tecnologia{
    background-color: #EE4950;
    color: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}




.separador img{
    width: 100%;
}

.certificaciones{
    margin: 50px 30px;
}

.cont-certificaciones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.fila-certificaciones{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-direction: row;
    margin-bottom: 6%;
}

.certificacion{
    width: 16%;
    display: flex;
    flex-direction: column;
}

.name-certificacion{
    font-size: 20px;
    text-align: left;
}

.description-certificacion{
    font-size: 15px;
    text-align: left;
}

.saber-mas{
    font-size: 15px;
    text-align: right;
    text-decoration: none;
    color: #EA1C24;
}