.home{
    font-family: "Biome Std";
    background-color: #ffffff;
    padding-bottom: 50px;
}

.col-oferta{
    display: flex;
    justify-content: center;
    height: 100%;
}

section.ofertas{
     background-image:  url('../resource/imagenes prueba web/img_home/Conectividad.png');  
     /*Libreria digital background-image:  url('../resource/imagenes prueba web/img_home/Hexagonos Rojos.png');*/  
     /*Mira background-image:  url('../resource/imagenes prueba web/img_home/Mundo.png');  */
     /*background-image:  url('../resource/imagenes prueba web/img_home/Pantallas.png');*/
     /*background-image:  url('../resource/imagenes prueba web/img_home/Satin Negro.png');  */
    margin: 0;
    max-width: 100%;
    height: 283px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
     /*background-image:  url('../resource/imagenes prueba web/img_home/Global.png');*/
   
   
    /*background-image:  url('../resource/imagenes prueba web/img_home/Grey.png');  */
    
    /*Servicios IT background-image:  url('../resource/imagenes prueba web/img_home/Iconos.png');  */
    /*background-image:  url('../resource/imagenes prueba web/img_home/Integracion.png');  */
    /*background-image:  url('../resource/imagenes prueba web/img_home/Learning.png');*/
    /*background-image:  url('../resource/imagenes prueba web/img_home/Learning Glass.png');*/  
    
    
    
    
    
    /* background-image:  url('../resource/imagenes prueba web/img_home/Tech Red.png'); */
}

.title-home{
    font-size: 25px;
    letter-spacing: 4px;
    width: 700px;
}

@media (max-width: 768px) {
    .ofertas{
        max-height: 200px;
    }
    .title-home{
        font-size: 20px;
        letter-spacing: 4px;
    }
}

.primera-seccion{
    display: flex;
    flex-direction: row;
    height: 500px;
}   
.primera-derecha{
    width: 50%;
    height: 100%;
}

.que-ofrecemos {
    width: 50%;
    height: 100%;
    background-color: #ffffff; /* Puedes cambiar el color de fondo según tu diseño */
    box-sizing: border-box;
    padding: 20px;
    padding-left: 0;
    text-align: center;
    float: left;
}

.quienes-somos,
.oferta-pequena {
    width: 100%;
    height: 50%;
    background-color: #e0e0e0; /* Puedes cambiar el color de fondo según tu diseño */
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    float: left;
}

@media (max-width: 768px) {
    .primera-seccion{
        display: flex;
        flex-direction: column;
        height: 500px;
    }
    .primera-derecha{
        width: 100%;
        height: 100%;
    }
    .que-ofrecemos,
    .quienes-somos,
    .oferta-pequena {
        width: 100%;
        float: none;
    }
}


.que-ofrecemos{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.titulo-que-ofrecemos{
    display: flex;
    margin-bottom: 80px;
}
h3.title {
    font-size: 18px;
    align-self:flex-start;
    padding: 10px 20px;
    margin-bottom: auto;
    background-color:#ea1c23;
    width: 400px;
    color: #fff;
}

.gradient-red{
    width: 90px;
    height: 100%;
    background: linear-gradient(to bottom left, transparent 49.5%, #ea1c23 49.5%, #ea1c23 50%);
}

.que-ofrecemos .fila-que{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.que-ofrecemos a{
    text-decoration: none;
    color: #565656;
    margin-right: 30px;
    width: 190px;
    font-size: 14px;
   
}
.que-ofrecemos a img{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.segunda-fila{
    margin-bottom: 0;
}

.quienes-somos{
    background-color: #EA1C24;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 30px;
}
.preguntas-sobre-nosotros {
    width: 70%;
    height: 100%;
    text-align: left;
    color: #fff;
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    margin-left: 30px;
}
.quienes-somos h2{
    width: 50%;
    text-align: left;
    color: #e4e4e4;
    font-size: 18px;
}

.quienes-somos a{
    text-decoration: none;
    color:#fff;
    font-size: 15px;
    width: 100%;
}
.saber-mas{
    justify-self: right;
    align-self: center;
}




.oferta-pequena {
    display: flex;
    justify-content: center;
    align-content: center;
}

.oferta-pequena .contenido-oferta{
    margin-top: 2%;
}

.oferta-pequena .content-oferta{
    font-size: 20px;
    color: #565656;
}

.oferta-pequena .button-red{
    margin-top: 30px;
}


@media (max-width: 768px) {
    .que-ofrecemos{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    .que-ofrecemos h3{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .que-ofrecemos div{
        margin: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
    }

    .que-ofrecemos div p{
        margin: 0px;
        height: 40px;
    }
    .que-ofrecemos a{
        color: #fff;
        text-decoration: none;
        color: #000;
        margin-right: 30px;
        width: 100px;
        font-size: 10px;
    }
    .que-ofrecemos a img{
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }



    .quienes-somos{
        background-color: #EA1C24;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
    .preguntas-sobre-nosotros {
        width: 80%;
        height: 80%;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content:space-evenly;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .quienes-somos h2{
        width: 50%;
        text-align: left;
        color: #e4e4e4;
        font-size: 18px;
    }
    
    .quienes-somos a{
        text-decoration: none;
        color:#fff;
        font-size: 12px;
        text-align: left;
        margin-bottom: 10px;
    }
    .saber-mas{
        justify-self: right;
        align-self: center;
    }

    .primera-seccion {
        height: auto;
    }

    .oferta-pequena {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .oferta-pequena .contenido-oferta{
        margin-top: 8%;
    }
    
    .oferta-pequena .content-oferta{
        font-size: 15px;
    }

    .oferta-pequena .button-red{
        margin: 0;
    }
}


.slider{
    border-top: 2px solid #EA1C24;
    border-bottom: 2px solid #EA1C24;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-image:  linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../resource/imagenes prueba web/img_home/Background Comunidad de Aprendizaje.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card{
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border: 0;
}
.hr-container{
    margin: 0;
    padding: 0;
}

.hr-red{
    margin: 0;
    padding: 0;
    border: 3px solid #ea1c23;
    color: #ea1c23;
}

.cont-title-slider{
    width: 100%;
    text-align: center;
    padding: 40px 0;
    color: #fff;
}

h2.title-slider{
    color: #fff;
}




.noticias{
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}
.noticias .fila-noticias{
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.noticia-text{
    display: flex;
    flex-direction: row;
    width: 60%;
    min-height: 400px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}
.noticia-text-100{
    width: 100%;
    max-height: 400px;
    display: flex;
}

.noticia-text-100 .noticia-body {
    width: 100%;
    order: 2;
}
.noticia-text-100 .img-noticia {
    width: 70%;
    order: 2;
}

.noticia-img{
    width: 25%;
    min-height: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 1) 100%),
    url('../resource/fondo-ejemplo-ofertas.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.img-container {
    overflow: hidden;
}

.img-container img {
    display: block;
    width: 100%;
    height: auto;
}

.gradient-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 110%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Color oscuro con opacidad */
        border-radius: 20px;
    }

.text-img-noticia {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding-left: 30px;
}

.noticia-text:hover{
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.500);
}

.noticia-text .img-noticia, .noticia-img .img-noticia{
    height: 100%;
}
.noticia-img .img-noticia{
    border-radius: 20px;
}
.noticia-img .img-noticia img{
    border-radius: 20px;
}
.img-noticia img{
    width: 100%;
    height: 100%;
}

.noticia-body{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #EA1C24;
}

.noticia-body h4{
    font-size: 10px;
    margin-bottom: 60px;
    color: #fff;
}

.noticia-body .text-body{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.text-body h3{
    font-size: 25px;
    margin-bottom: 30px;
    width: 100%;
    color: #fff;
}
.text-body span{
    font-size: 12px;
    width: 100%;
    color: #fff;
}


.img-noticia-max img{
    width: 600px;
}

.reverse{
    display: flex;
      

}

  
.reverse .noticia-text{
    order: 2;
}
  
.reverse .noticia-img{
   order: 1;
}



.download-link{
    text-decoration: none;
    color: #ea1c23;
    font-size: 10px;
    margin-top: 15px;
}

.download-link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 860px) {
    .noticias{
        padding: 15px;
    }

    .noticias .fila-noticias{
        display: block;
    }

    .noticia-text{
        width: 90%;
    }

    .noticia-text .img-noticia img{
        height: 400px;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 560px) {
    .noticias{
        padding: 40px;
    }

    .noticias .fila-noticias{
        display: block;
    }

    .noticia-text{
        width: 100%;
    }

    .noticia-text .img-noticia img{
        display: none;
    }
    .noticia-text .img-noticia{
        background-image: url('../resource/fondo-ejemplo-ofertas.jpg'); /* Ruta de la imagen */
        background-size: cover;
        background-position: center;
    }
}


