.banner-principal{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.44);
    
    background-image: url('../resource/imagenes prueba web/img_home/IMG MIRA SECTION.png');
    /*background-image: linear-gradient( rgba(0, 0, 0, 0.8)20%, rgba(141, 141, 141, 0.8)60%), url('../resource/backgroundEjemplo.jpg');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}


.banner-principal div, .banner-principal p, .banner-principal span{
    margin: 10px 0;
    width: 50%;
    text-align: center;
}

.title-page{
    width: 900px;
}

.banner-principal h1{
    width: 120%;
    margin: 0;
    color: #fff;
    font-size: 30px;
    text-shadow: 0 0 5px rgba(255,255,255,0.3), /* Sombra blanca */
               0 0 10px rgba(255,255,255,0.3), /* Sombra m치s grande */
               0 0 15px rgba(255,255,255,0.3); /* Sombra m치s grande */
}


.banner-principal p{
    color: #fff;
    font-size: 12px;
}

.banner-principal span{
    color: #fff;
    font-size: 15px;
}

.pagina{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-section {
    margin-top: 10px;
}
.title-section h2{
    font-size: 20px;
    text-align: center;
}

.list-intro{
    display: flex;
}
.list-intro li{
    list-style: none;
}
/*
    code from gallery image in Mira page
*/
.section-gallery{
    margin-top: 35px;
}
.gallery-image{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 90px;
}

.gallery-image {
    display: flex;
    flex-wrap: wrap;
}

.image {
    position: relative;
    margin: 0 3px;
    overflow: hidden; /* Para asegurarse de que el texto no se desborde del contenedor */
    width: 160px;
    height: 430px;
}

.image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 430px;
    transition: opacity 0.5s ease, width 0.3s ease;
    opacity: 1;
}

.image h4 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    background-color: #00000050;
    width: 100%;
    height: 20%;
    padding-top: 15%;
}

.image.selected h4 {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
    padding-top: 10%;
}
.image.selected img {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 430px;
    transition: opacity 0.5s ease, width 0.3s ease;
    opacity: 1;
}


.image p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    font-size: 12px;
    text-align: justify;
    width: 80%;
}

.image a {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 5px 10px;
    color: #EA1C24;
    border-radius: 3px;
    font-size: 12px;
    text-align: right;
    width: 80%;
}

.ifselected {
    display: none; /* Por defecto, oculta el div ifselected */
}

.image.selected .ifselected {
    display: block; /* Muestra el div ifselected cuando la imagen est치 seleccionada */
}

/* C칩digo cuando hay cursor encima de una imagen */
.image.selected {
    width: 300px;
}

@keyframes slideIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
    to{
        opacity: 0;
    }
}

.image.selected img {
    animation: slideIn 0 ease;
}

.image.unselected img {
    animation: slideOut 0 ease;
}

.sobre-nosotros{
    width: 100%;
}
.container-sobre-nosotros{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.content{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .imagen{
    width: 200px;
    height: 200px;
}

.imagen img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.content h3{
    margin: 10px 0;
    font-size: 15px;
}
.content span{
   font-size: 12px;
}
.content span, .content h3{
    width: 200px;
    text-align: center;
}





.intro-page{
    display: flex;
    justify-content: center;
    background-color: #EDEDED;
    padding-top: 40px;
    min-height: 330px;
}
.border-right{
    border-right: 1px solid #EA1C24;
}
.line hr{
    color: #EA1C24;
    border: 1px solid #EA1C24
}

.content-intro{
    font-size: 14px;
    margin-bottom: 25px;
    letter-spacing: 1px;
    line-height: normal;
    text-align: justify;
}
.content-intro-center{
    text-align: center;
}
.slader-info{
    background-image: url('../resource/mira_page/background-red.svg');
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    color: #fff;
}

.content-slader{
    display: flex;
    justify-content: space-between;
}

.content-slader p{
    text-align: justify;
    font-size: 15px;
    margin-top: 50px;
}

.content-slader p.left{
    width: 50%;
    text-align: justify;
}

.content-slader p.right{
    width: 35%;
    text-align: justify;
    color: #000;
}

.link-container{
    display: flex;
    justify-content: end;
}
.link-container a{
    color: #EA1C24;
    font-size: 15px;
}
.link-container a:hover{
    color: #ea1c2376;
    font-size: 15px;
}

.questions{
    margin: 60px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question{
    width: 90%;
    border-bottom: 1px solid #000;
    padding: 0 30px;
}

.question h3{
    color: #000;
    font-size: 17px;
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.question.h3-selected h3{
    color: #EA1C24;
}

.content-question{
    background-color: #F2F2F2;
    padding: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    display: none;
}

.selected-question{
    display: block;
}







.title-section-2, .left2, .right2, .link2{
    display: none;
}

