.banner-principal .title-page, .banner-principal .title-page h1{
    width: 700px;
}

.page-content{
    padding: 50px 80px;
}
.page-content h3{
    font-size: 20px;
    color: #ea1c23;
}
.page-content h6{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 20px;
}

.page-content ul{
    list-style-type: circle;
}
.content{
    margin: 20px 0 60px 0 ;
}
.page-content li{
    margin: 10px 0;
    font-size: 14px;
}

.page-content p{
    font-size: 16px;
    padding-left: 0px;
    margin: 15px 0;
}

.firma{
    text-align: center;
    margin-top: 60px;
}

p b{
    margin: 20px 0;
    margin-left: 20px;
}