.banner-principal span{
    text-align: center;
    height: 30px;
    align-self: center;
}

.content{
    height: 1500px;
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro-txt{
    background-color: #F6F6F6;
    border: 1px solid #9A9A9A;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 150px;
    padding: 30px;
}

.intro-txt p{
    font-size: 15px;
    margin: 0;
}

.compromiso{
    width: 100%;
}