.button-option-entrie{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.button-option-entrie button{
    border-radius: 20px;
    background-color: white;
}

.button-option-entrie button:hover{
    border-color: #EA1C24;
    color: #EA1C24;
    
}

#input-file{
    display: flex;
    flex-direction: column;
}

.button-tag{
    margin-right: 20px;
    background-color: white;
    border-radius: 20px;
    font-size: 12px;
}

.button-tag:hover{
    border-color: #EA1C24;
    color: #EA1C24;
}

#textarea-content{
    width: 100%;
    height: 200px;
}