#input-name{
    color: #000;
}

.button-option-entrie{
    display: flex;
    flex-direction: column; 
    margin-top: 30px;
}

.button-option-entrie button{
    border-radius: 20px;
    background-color: white;
}

.button-option-entrie button:hover{
    border-color: #EA1C24;
    color: #EA1C24;
    
}
#img-form, #params-entrie-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs-size{
    display: flex;
    flex-direction: column;
}
.inputs-size input{
    margin-bottom: 15px;
}

#input-file{
    display: flex;
    flex-direction: column;
}

.button-tag{
    width: 150px;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    font-size: 12px;
    color: black;
}

.button-tag:hover{
    border-color: #EA1C24;
    color: #EA1C24;
}

#textarea-content{
    width: 100%;
    height: 200px;
}
#anchura{
    width: 25%;
}
#textarea-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#textarea-form #mt-20{
    margin-top: 30px;
}

#button-create{
    margin-left: 45%;
    margin-top: 50px;
    border-radius: 20px;
    padding: 2px 15px;
    background-color: white;
}

#button-create:hover{
    border-color: #EA1C24;
    color: #EA1C24;
}

.select-position{
    padding: 0 20px;
    margin-bottom: 30px;
}





.btn-file {
    position: relative;
    overflow: hidden;
    background: #EA1C24;
    border: 1px solid white;
    margin-bottom: 30px;
}
.btn-file:hover{
    position: relative;
    overflow: hidden;
    background: white;
    border: 1px solid #EA1C24;
    color: #EA1C24;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #EA1C24;
    cursor: inherit;
    display: block;
}

.textarea-description, .select-category{
    margin: 15px 0;
}

#params-entrie-form{
    margin-top: 50px;
}

.ubicacion{
    justify-content: space-between;
    align-items: center;
}

.ubicacion #img-entrie {
    display: flex;
}

.ubicacion #img-entrie span{
    margin: 0;
    margin-right: 15px;
}


#image-selected-message{
    margin-bottom: 30px;
}