.content-entries{
    background-color: #fff;
    margin-top: 20px;
}

.filter-seeker{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.filter-entries{
    display: flex;
}

.filter-entries button{
    background-color: #fff;
    border: 0;
    height: 100%;
    margin-right: 15px;
    font-size: 14px;
    padding: 0 15px;
}

.button-create-entrie{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-create-entrie a{
    text-decoration: none;
    color: #fff;
    background-color: #EA1C24;
    font-size: 14px;
    padding: 2px 10px;
}

.button-create-entrie a:hover{
    background-color: #d1181e;
}

.filter-entries button:hover{
    background-color: #F1F1F1;
    color: #EA1C24;
}

.seeker{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.icon-open-seeker img{
    width: 25px;
    cursor: pointer;
}

.inputs-seeker{
    display: none;
}
.entrie{
    border-bottom: 1px solid #4D4D4D;
    position: relative;
}
.entrie, .body-entrie{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.entrie-img img{
    width: 350px;
    height: 99px;
}

.info-entrie{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 0 30px;
}

.info-entrie h4{
    font-size: 12px;
}
.info-entrie p{
    font-size: 12px;
    color: #7A7A7A;
    margin: 0;
}

.options-entrie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.options-entrie p{
    font-size: 10px;
    margin: 0;
    color: #EA1C24;
    cursor: pointer;
}


