.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.login{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.login h1{
    font-size: 25px;
} 
#form-login{
    width: 60%;
    display: flex;
    flex-direction: column;
}

#form-login div{
    display: flex;
    flex-direction: column;
}

#form-login label{
    margin-top: 20px;
}

#form-login input{
    padding: 3px 15px;
}

#form-login input[type=submit]{
    align-self: center;
    width: 50%;
    margin-top: 20px;
}

.p-error{
    color: #EA1C24;
    margin: 0;
}